.main {
  height: 100vh;
  padding: 15px 10px;
  font-family: "Nunito", sans-serif;
  overflow-y: scroll !important;
  padding-bottom: 4rem;
}

.datacards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
}
.header_text {
  font-size: 16px;
}

.statistics {
  padding: 15px 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1.5fr 1fr 1.2fr;
  gap: 32px;
}

.second_division {
  padding: 15px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1.2fr 1fr;
  justify-content: center;
  gap: 32px;
}

.watermark {
  padding: 15px 20px;
}
