.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.bar,
.pie {
  border: 1px solid #e9edf3;
}

.name {
  font-size: 13px;
  margin-left: 2px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  height: auto;
  border: 1px solid #e9edf3;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
  margin: 2px 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -0.8rem;
}

.top,
.middle,
.progress {
  width: 100%;
}
.area {
  border: 1px solid #e9edf3;
}

.progress {
  height: 20px;
  margin-top: 14px;
  margin-bottom: -0.8rem;
}
.pheight {
  height: 4px !important;
}
.ring {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
.benefits {
  display: flex;
  justify-content: space-between;
  padding: 3px 24px;
}
.income {
  color: rgb(32 181 153);
}
.gains,
.notgains {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 2px;
}
.amount {
  font-weight: 500;
  font-size: 18px;
}
.loss {
  color: rgb(250 89 68);
}
.title {
  font-weight: 500;
}

.period {
  font-size: 11px;
  background-color: rgba(52, 110, 224, 0.18);
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  white-space: nowrap;
  color: #346ee0;
  box-shadow: none;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.value {
  font-size: 1.875rem;
  color: rgb(76, 76, 76);
}

.right {
  display: flex;
  align-items: center;
  gap: 3px;
}
.rate {
  font-size: 14px;
}
.icon {
  font-size: 14px;
}
/* .progress{
  margin-top: 12px;
} */
