.sidebar {
  height: 100%;
  background-color: rgb(12 74 110);
  color: white;
  font-size: 12px;
  min-width: 8rem;
  overflow-y: auto;
  font-family: "Nunito", sans-serif;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #888;
}
.main {
  width: 15rem !important;
}

.site_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  cursor: pointer;
}
