.sidebar {
  height: 100%;
  background-color: rgb(12 74 110);
  color: white;
  font-size: 12px;
  width: 16rem;
  /* overflow-y: scroll !important;
  overflow-x: hidden; */
  font-family: "Nunito", sans-serif;

}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.site_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  cursor: pointer;
}
